@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */

:root {
  --text: #160c18;
--background: #f2e5f6;
--primary: #651976;
--primary2: #601571;
--secondary: #d96ff1;
--accent: #ae01d5;
}

body.night-theme {
  --text: #e4f6f1;
  --background: #040b0a;
  --primary: #92e8cd;
  --secondary: #169c72;
  --accent: #31edb1;
}
body{
  color: var(--text);
  background-color: var(--background);
}


.btn.btn-primary{
  padding: 10px;
  color: var(--background);
  font-size: 20px;
  font-weight: 500;
  background: var(--accent);
  border: 1px solid var(--accent);
  cursor: pointer;
}
.btn.btn-primary:hover{
  border: 1px solid var(--primary);
  background: var(--primary);
}
.btn.btn-primary:active {
  border: 1px solid var(--primary2);
 background: var(--primary2);
}
.header{
  background-color: var(--accent);
}
.header a{
  color: var(--background);
}
.hero{
  margin-top: 100px;
  height: 400px;
  padding: 20px;
}
.hero > .row{
  height: 100%;
  align-items: center ;
}
.hero video{
  width: 50%;
}
.hero h1{
  font-size: 60px;
}
.hero video{
  border-radius: 40px;
}